<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
 
  </appSettings>
  <connectionStrings>

    <!--<add name="ApplicationServices" connectionString="Data Source=208.91.198.196;Initial Catalog=forest_pmis;Persist Security Info=True;User ID=forest_pms;Password=Shimla11" providerName="System.Data.SqlClient" />
    <add name="forest_pmisConnectionString" connectionString="Data Source=208.91.198.196;Initial Catalog=forest_pmis;Persist Security Info=True;User ID=forest_pms;Password=Shimla11" providerName="System.Data.SqlClient" />
    
    <add name="satluj" connectionString="Data Source=208.91.198.196;Initial Catalog=forest_pmis;Persist Security Info=True;User ID=forest_pms;Password=Shimla11" providerName="System.Data.SqlClient" />
    <add name="cn" connectionString="Data Source=invenio;User ID=finassit;Unicode=True;Password=fa" providerName="System.Data.OracleClient" />
    <add name="ConnectionString" connectionString="Provider=MSDAORA;Data Source=invenio;Password=fa;User ID=finassit" providerName="System.Data.OleDb" />-->
    <add name="pension" connectionString="Data Source='208.91.198.196';User ID='pension';Password='Shimla12';Pooling=False;Initial Catalog='pension'"
   providerName="System.Data.SqlClient" />

  </connectionStrings>
  
  <system.web>

    <machineKey validationKey="15996E7C07BF9488EBC7BFF3795774EA69D41A91DE075F44D1CF15E4B824568635381CA74D57A6D8F93923CF4FFEA2454FD9C8A10A134296E61C700B027FCF80" decryptionKey="9F59337107F66DEBC912A9307C8DCE3580712B97B08A7103CF6723D084D99E8B" validation="SHA1" decryption="AES" />


    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
      <assemblies>
        <!--  <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="abc" loginUrl="admin/errormass.aspx" />
    </authentication>
    <customErrors mode="Off"></customErrors>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <!--<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!--<location path="admsml">
    <system.web>
      <authorization>
        <allow roles="admsml" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="admsml1">
    <system.web>
      <authorization>
        <allow roles="admsml1" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="admsml2">
    <system.web>
      <authorization>
        <allow roles="admsml2" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="admsml3">
    <system.web>
      <authorization>
        <allow roles="admsml3" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="admsml4">
    <system.web>
      <authorization>
        <allow roles="admsml4" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="usrsml">
    <system.web>
      <authorization>
        <allow roles="usrsml" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="complaints">
    <system.web>
      <authorization>
        <allow roles="usrsml" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="leave">
    <system.web>
      <authorization>
        <allow roles="usrsml" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ltc">
    <system.web>
      <authorization>
        <allow roles="usrsml" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="advance">
    <system.web>
      <authorization>
        <allow roles="advance" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="uadvance">
    <system.web>
      <authorization>
        <allow roles="usrsml" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  --><!--<location path="personal">
    <system.web>
      <authorization>
        <allow roles="personal"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>--><!--
  <location path="manpower">
    <system.web>
      <authorization>
        <allow roles="manpower" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="leaveadm">
    <system.web>
      <authorization>
        <allow roles="leaveadm" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ltcadm">
    <system.web>
      <authorization>
        <allow roles="ltcadm" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="inspolice">
    <system.web>
      <authorization>
        <allow roles="inspolice" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="training">
    <system.web>
      <authorization>
        <allow roles="training" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="guest">
    <system.web>
      <authorization>
        <allow roles="usrsml" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="calenderadm">
    <system.web>
      <authorization>
        <allow roles="calenderadm" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="print">
    <system.web>
      <authorization>
        <allow roles="training" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ltcacctadm">
    <system.web>
      <authorization>
        <allow roles="ltcacctadm" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="admleave">
    <system.web>
      <authorization>
        <allow roles="admleave" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  --><!--<location path="newuser">
    <system.web>
      <authorization>
        <allow roles="newuser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>--><!--
  <location path="advancehod">
    <system.web>
      <authorization>
        <allow roles="leaveadm" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ltchod">
    <system.web>
      <authorization>
        <allow roles="leaveadm" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="anti">
    <system.web>
      <authorization>
        <allow roles="anti" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="cpu">
    <system.web>
      <authorization>
        <allow roles="cpu" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="inter">
    <system.web>
      <authorization>
        <allow roles="inter" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  --><!--<system.webServer>
    <identity impersonate="true"/>
  </system.webServer>-->
</configuration>