body {
	background-image: url('../images/bg.gif');
	background-repeat: repeat-x;
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12pt;
	text-align: left;
#divPrint table {
	border: 0.1px solid #000;
	color: #000000;
