<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Site.master.cs" Inherits="SiteMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
    <title>H.P. STATE FOREST DEVELOPMENTCORPORATION LTD.</title>

    

    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
   
<style type="text/css" rel="stylesheet">
#logo { 
   float: left; 
   width: 10.5em; 
   background: #CCCCCC; 
   padding: 0.5em 0.5em 0.5em 1em;
   margin: 0;        
}
.primaryStaticMenu
{
   background-color: transparent;
   float: left;
}
.primaryStaticMenuItem
{
   width: 10em;
   background-color: #f7f2ea; 
   border-width: 1px;
   border-color: #efefef #aaab9c #ccc #efefef; 
   border-style: solid;
   color: #777777;
   padding: 0.5em 0 0.5em 1em;
}
.primaryStaticHover
{
   color: #800000;
   background: #f0e7d7;
}

.primaryDynamicMenu
{   
   background-color: #f7f2ea;               
   border-bottom: solid 1px #ccc;    
}  
.primaryDynamicMenuItem
{
   width: 10em;
   background-color: #f7f2ea; 
   color: #777;
   padding: 0.1em 0 0.1em 1em;
   border-width: 1px;
   border-color: #f7f2ea #aaab9c #f7f2ea #efefef;  
   border-style: solid;         
}    
.primaryDynamicHover
{
   color: #800000;
   background: #f0e7d7;
}            

.secondaryLevelOne
{
   background-color: transparent;
   background-repeat: repeat-x;
   margin: 1.5em 0 0 0;
   padding: 5px 0 0 5px;
   width: 12em; 
   height: 35px;
}
.secondaryLevelTwo
{
   background: #FAFBFB;
   padding: 5px 0 5px 5px;         
}
.secondaryStaticHover
{
   color: #800000;
}
  
    </style>
   
</head>
<body>
    <form runat="server">
    <div class="page">
        <div class="header">
         <h1>HP STATE FOREST CORPORATION LTD. SHIMLA</h1>
            <h3>(Kusumpti Shimla-171009)</h3>
            <div class="loginDisplay">
                <asp:LoginView ID="HeadLoginView" runat="server" EnableViewState="false">
                    <AnonymousTemplate>
                        [ <a href="~/Account/Login.aspx" ID="HeadLoginStatus" runat="server">Log In</a> ]
                    </AnonymousTemplate>
                    <LoggedInTemplate>
                        Welcome <span class="bold"><asp:LoginName ID="HeadLoginName" runat="server" /></span>!
                        [ <asp:LoginStatus ID="HeadLoginStatus" runat="server" LogoutAction="Redirect" LogoutText="Log Out" LogoutPageUrl="~/Account/Login.aspx"/> ]
                    </LoggedInTemplate>
                </asp:LoginView>
            </div>
            <div class="clear hideSkiplink">

                <br />

                <asp:Menu id="menuPrimary0" 
                runat="server" 
                 
                Orientation="Horizontal" 
                StaticEnableDefaultPopOutImage="False"  
                MaximumDynamicDisplayLevels="1" style="font-size: 8pt">

                    <Items>
                        <asp:MenuItem NavigateUrl="Default.aspx" Text="Home"/>
                        <asp:MenuItem NavigateUrl="tally_sheet2.aspx" Text="Set Stack No and Grade" 
                            Value="Set Stack No and Grade"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="tally_sheet3.aspx" Text="Set HSD Lot No." 
                            Value="Set HSD Lot No."></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="summary_of_tally_sheet.aspx" 
                            Text="Summary of Tally Sheet" Value="Summary of Tally Sheet"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="tally_sheet4.aspx" Text="Mark to Auction" 
                            Value="Mark to Auction"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="broad_level_timber.aspx" Text="Auction/Sale List" 
                            Value="Auction/Sale List"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="purchaser.aspx" Text="Add Purchaser" 
                            Value="Add Purchaser"></asp:MenuItem>

                              <asp:MenuItem NavigateUrl="bid_amt.aspx" Text="Bid Ammount" 
                            Value="Bid Ammount"></asp:MenuItem>

                         <asp:MenuItem NavigateUrl="statement_of_auction_result.aspx" 
                            Text="Statement of Auction Results" Value="Statement of Auction Results">
                        </asp:MenuItem>
                    </Items>
                 <StaticMenuStyle CssClass="primaryStaticMenu"/>
        <StaticMenuItemStyle CssClass="primaryStaticMenuItem"/>
        <StaticHoverStyle CssClass="primaryStaticHover"/>   
        <DynamicMenuStyle CssClass="primaryDynamicMenu" />     
        <DynamicMenuItemStyle CssClass="primaryDynamicMenuItem"/>
        <DynamicHoverStyle CssClass="primaryDynamicHover"/>

                </asp:Menu>

               
                <asp:Menu id="menuPrimary1" 
                runat="server" 
                 
                Orientation="Horizontal" 
                StaticEnableDefaultPopOutImage="False"  
                MaximumDynamicDisplayLevels="1" style="font-size: 8pt">

                    <Items>
        
                         

                   
                     
                        <asp:MenuItem NavigateUrl="receipt_register.aspx" 
                            Text="Timber Receipt Register" Value="Timber Receipt Register">
                        </asp:MenuItem>
                        <asp:MenuItem NavigateUrl="statement_timber_rec.aspx" 
                            Text="Statement of Timber Receipt" Value="Statement of Timber Receipt">
                        </asp:MenuItem>

                             <asp:MenuItem NavigateUrl="sale_depo.aspx" Text="Himkasth Sale Depot" 
                            Value="Himkasth Sale Depot"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="report_1.aspx" Text="Report-1" Value="Report-1">
                        </asp:MenuItem>
                        <asp:MenuItem NavigateUrl="timber_rec.aspx" 
                            Text="Statement of Timber Receipt" Value="Statement of Timber Receipt">
                        </asp:MenuItem>  
                          
                        <asp:MenuItem NavigateUrl="drop_items.aspx" Text="Drop Items" 
                            Value="Drop Items"></asp:MenuItem>
                        <asp:MenuItem NavigateUrl="speces_size_type.aspx" 
                            Text="Set Species Size Type" Value="Select Kind Size Type">
                        </asp:MenuItem>
                    </Items>
                 <StaticMenuStyle CssClass="primaryStaticMenu"/>
        <StaticMenuItemStyle CssClass="primaryStaticMenuItem"/>
        <StaticHoverStyle CssClass="primaryStaticHover"/>   
        <DynamicMenuStyle CssClass="primaryDynamicMenu" />     
        <DynamicMenuItemStyle CssClass="primaryDynamicMenuItem"/>
        <DynamicHoverStyle CssClass="primaryDynamicHover"/>

                </asp:Menu>

                <br />

            </div>
       </div>
        <div class="main">
         
            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="footer">
        
    </div>
    </form>
</body>
</html>
